.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.container1 {
  border-radius: 16px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
  padding: 22px 16px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 16px;
}
.text1 {
  color: #1e1e1e;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
.btn {
  border-radius: var(--sds-size-radius-200);
  border: 1px solid #767676;
  background: #fff;
  width: 188px;
  cursor: pointer;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  border-radius: 8px;
}
.text2 {
  color: #1e1e1e;

  /* Subtitle/S1/Semibold */
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.flex1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.btn1 {
  border-radius: 61707.09px;
  border: 0.617px solid #000;
  background: #dfdbff;
  box-shadow: 2.468px 2.468px 0px 0px #4533e8;
  padding: 24px;
  width: fit-content;
  color: #1e1e1e;

  /* Heading/H3/Semibold */
  font-family: "Space Grotesk";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;

  margin: 0 auto; /* Center the box horizontally */
  position: relative;
  transform: translateX(-50%);
  margin-bottom: 86px;
}
.btn2 {
  border-radius: 61707.09px;
  border: 0.617px solid #000;
  background: #fff;
  box-shadow: 2.468px 2.468px 0px 0px #7d7d7d;
  padding: 24px;
  width: fit-content;
  color: #1e1e1e;

  /* Heading/H3/Semibold */
  font-family: "Space Grotesk";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;

  margin: 0 auto; /* Center the box horizontally */
  position: relative;
  transform: translateX(50%);
  margin-bottom: 86px;
}

.arrow1 {
  position: absolute;
  right: -48px;
  bottom: -130px;
}
.arrow2 {
  position: absolute;
  left: -48px;
  bottom: -126px;
}
