.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}
.container > div {
	width: 100%;
	border: 1px solid black;
	background: #fff;
	border-radius: 16px;
	display: flex;
	align-items: center;
}
.input {
	width: 100%;
	padding: 0;
	border: 0;
	outline: none;
	color: var(--color-text-default-secondary);
	border-radius: 16px;
	height: 100%;
	padding: 16px;
}
.input::placeholder {
	opacity: 0.8;
}

.container_icon > div {
	padding-left: 16px;
}
