.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.input {
	border-radius: 16px;
	border: 1px solid black;
	background: #fff;

	display: flex;
	padding: 12px;
	align-items: center;
	gap: 16px;

	color: var(--color-text-default-secondary);
}
.input::placeholder {
	opacity: 0.8;
}

@media (min-width: 768px) {
	.input {
		padding: 16px;
	}
}
