.container {
  max-width: 1440px;
  margin-inline: auto;
  width: 100%;
  margin-top: 88px;
  position: relative;
  z-index: 10; /* Ensures this section stays on top */
  background-color: white; /* Set a background color if necessary */
}

.mainContainer {
  margin-left: 124px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.subcontainer {
  border-radius: 0px 36px 36px 36px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0 32px 32px;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabsHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 24px;
  align-self: stretch;
  margin-top: 48px;
}

.tabButton {
  display: flex;
  height: 150px;
  padding: 19.346px 21.105px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14.07px;

  border-radius: 16px;
  border: 0.879px solid black;
}

.tabButton.active {
  background: rgba(223, 219, 255, 0.85);
  box-shadow: 3.518px 3.518px 0px 0px #000;
}

.tabButtonIndex {
  border-radius: 999px;
  border: 1px solid black;
  background: #a2a2a2;

  /* M3/Elevation Light/1 */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);

  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
}

.tabButton.active .tabButtonIndex {
  background: #4533e8;
  color: white;
}

.tabButtonTitle {
  color: var(--Neutrals-neutral-1000, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

.tabButton.active .tabButtonTitle {
  font-weight: 500;
}

.tabButton p {
  color: rgba(0, 0, 0, 0.6);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}

.tabButton div {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.floatingTitle {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: #f0eeff;

  margin-top: -24px;
}

.tabBody {
  margin-top: 24px;
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 24px;

  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
}
.tabBody > div {
  width: 100%;
}

.tabBodyTitle {
  color: black;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Space Grotesk";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 16px;
}

.tabBodyCheckList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
.tabBodyCheckList > div {
  display: flex;
  padding: 22px 16px;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  border-radius: 16px;
  background: #fff;

  color: #14181f;

  /* Body/B1/Semibold */
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tabImage {
  padding: 12px;

  border-radius: 16px;
  background: #fff;
}

.tabImage img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
