@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	/* font-family: "Inter", sans-serif !important; */
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}

:root {
	--color-text-default-secondary: #757575;
	--color-text-default-default: #1e1e1e;
	--color-border-neutral-secondary: #767676;
	--color-icon-brand-on-brand: #f5f5f5;
	--purple: #4533e8;
}

body {
	font-family: "Space Grotesk";
}

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

.cta_card-subtitle {
	color: var(--color-text-default-default);

	/* Body/B1/Regular */
	font-family: "Space Grotesk";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 16px;
}
.cta_card-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;
}
.cta_card-list li {
	color: var(--color-text-default-secondary);

	/* Body/B1/Regular */
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.Typewriter__cursor {
  font-size: 24px !important; /*Setting this to a ridiculous size as an example*/
}
