.container {
}
.container > div:first-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.mainContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
}
.text {
	color: var(--sds-color-text-default-default);
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
}
.subtext {
	color: var(--sds-color-text-default-secondary);
	text-align: center;
}

.container form {
	width: 100%;
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 800px;
}

.radio_container {
	padding: 16px;
	color: var(--Texts-text-base, #14181f);

	border-radius: 16px;
	border: 1px solid black;
	background: #fff;
	box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
}
.checked {
	background: #dfdbff;
	box-shadow: none;
}
.radio_container input[type="radio"] {
	display: none;
}

.category_search_form {
	gap: 16px !important;
}
.category_search {
	border-radius: 16px;
	border: 2px solid #dce0e5;
	background: white;

	display: flex;
	padding: 24px;
	flex-direction: column;
	gap: 16px;
}

.category_search .category_search_box {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-height: 20vh;
	overflow-y: auto;
}
.category_item {
	padding: 22px 16px;

	border-radius: 16px;
	border: 1px solid black;
	background: #fff;
	box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.category_item:hover,
.category_item:focus,
.category_item:active,
.category_item.category_item_selected {
	background: #dfdbff;
	box-shadow: 4px 4px 0px 0px #4533e8;
}

@media (min-width: 768px) {
	.container form {
		gap: 48px;
	}
	.radio_container {
		padding: 24px 16px;
	}
}

.optionsContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;

	padding: 12px;
	background-color: white;
	width: 100%;

	border-radius: 16px;
	border: 2px solid #dce0e5;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	max-width: 640px;
	margin-top: 24px;
}

@media (min-width: 768px) {
	.optionsContainer {
		gap: 16px;
		padding: 24px;
	}
	.form {
		gap: 16px;
	}
}
