.container {
}
.container > div:first-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.mainContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
}
.text {
	color: var(--sds-color-text-default-default);
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
}
.subtext {
	color: var(--sds-color-text-default-secondary);
	text-align: center;
}

.container form {
	width: 100%;
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 800px;
}

.radio_container {
	padding: 16px;
	color: var(--Texts-text-base, #14181f);

	border-radius: 16px;
	border: 1px solid black;
	background: #fff;
	box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
}
.checked {
	background: #dfdbff;
	box-shadow: none;
}
.radio_container input[type="radio"] {
	display: none;
}

@media (min-width: 768px) {
	.container form {
		gap: 48px;
	}
	.radio_container {
		padding: 24px 16px;
	}
}
