.container {
	margin-inline: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 22px;
	padding-inline: 16px;
}

.container > div {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.container > div progress {
	width: 100%;
	accent-color: #4533e8;
}

@media (min-width: 768px) {
	.container {
		flex-direction: row;
	}
}
