.container {
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: 1440px;
	margin-inline: auto;
}
.container > div {
	width: 100%;
}
.main {
}

.main h1 {
	margin-bottom: 16px;
}
.main .text_default {
	color: #757575;
}

.points {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

@media (max-width: 768px) {
	.main h1 {
		color: var(--color-text-default-default);

		font-size: 24px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.48px;
	}
	.main .text_default {
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
	}
	.points {
		margin-top: 32px;
	}
}
@media (min-width: 768px) {
	.main {
		display: grid;
		grid-template-columns: 0.1fr 1fr;
		grid-template-rows: repeat(2, auto);
		gap: 40px;
	}
}
