.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}
.title_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.title_content h1,
.title_content p {
	color: #393939;
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;

	/* Heading/H2/Semibold */
	font-size: 48px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.96px;
}

.cards_container {
	display: flex;
	gap: 48px;
}
