/* CTA Card */
.container {
	display: flex;

	padding: 16px;
	align-items: flex-start;
	align-content: flex-start;
	gap: 16px;

	border-radius: 16px;
	border: 1px solid black;
	position: relative;

	background: #fff;
	box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
}
.recommendedContainer {
	background: #dfdbff;
	box-shadow: 4px 4px 0px 0px var(--purple);
}

.recommended {
	display: flex;
	padding: 6px 8px;
	justify-content: center;
	align-items: center;
	gap: 8px;

	border-radius: 8px;
	border: 1px solid black;
	background: var(--purple);

	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
		0px 1px 3px 1px rgba(0, 0, 0, 0.15);

	position: absolute;
	top: -24px;
	right: 8px;
	color: white;

	color: #fff;
	text-align: center;

	/* M3/label/large */
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px; /* 142.857% */
	letter-spacing: 0.1px;
}

.title {
	color: var(--color-text-default-default);
}

.card {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.cta {
	margin-top: 8px;
	display: flex;
	padding: 8px;
	justify-content: center;
	align-items: center;
	gap: 12px;

	border-radius: 8px;
	border: 1px solid var(--color-border-neutral-secondary);
	background: #fff;
	width: fit-content;

	color: black;

	line-height: 100%; /* 16px */
	text-decoration: none;

	/* Label/L1/Bold */
	font-size: 14px;
	font-weight: 700;
}
@media (max-width: 768px) {
	.title,
	.cta_card-list li {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 440px;
		min-width: 400px;
		padding: 24px;
	}
	.recommended {
		top: -16px;
		right: 32px;
	}
	.cta {
		padding: 12px;
		font-size: 16px;
		font-weight: 400;
	}
}
