.container {
	margin-top: 86px;
	max-width: 1440px;
	margin-inline: auto;
}

.subcontainer {
	margin-left: 124px;
}

.main {
	margin-block: 56px;
}

.slideContent {
	border-radius: 24px;
	background: #f7f7f7;
	padding: 40px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 24px;
}
.slideContent span {
	border-radius: 16px 16px 0px 0px;

	display: flex;
	padding: 8px 0px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	align-self: stretch;

	font-size: 19.133px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.765px;
	text-transform: capitalize;
}

.slideContent .before span {
	background: #d8d8d8;
	color: #222;
}

.slideContent .after span {
	background: #4533e8;
	color: white;
}

.imageBg {
	padding: 24px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imageBg > img {
	width: 100%;
}
