.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

.flex {
	display: flex;
	gap: 4px;
	align-items: center;
}
.flex > div:first-child {
	display: flex;
}

@media (min-width: 768px) {
	.flex {
		gap: 16px;
	}
}
